deeplake
openai
tiktoken
transformers
torch
numpy
deepspeed
trl
peft
wandb
bitsandbytes
accelerate
tqdm
neural_compressor
onnx
pandas
scipy
langchain
langchain_community
pypdf
llama-index 
llama-index-vector-stores-chroma 
cohere
chromadb